.page {
  background-color: #000000;
  color: #FFFFFF;
  /* typography */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ----- MEDIA QUERIES ----- */


/* anything larger than 880px, use defaults */

/* resolution more than 320px, fewer than 880px */

/* resolution 320px or fewer */
@media screen and (max-width: 320px) {
  .page {
    width: auto;
  }
}


