.page {
  background-color: #000000;
  color: #FFFFFF;
  background-size: cover;
  position: relative;
  height: auto;
  width: 100%;
  /* typography */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ----- MEDIA QUERIES ----- */


/* anything larger than 880px, use defaults */

/* resolution more than 320px, fewer than 880px */
@media screen and (max-width: 880px) {
  .page {
    height: unset;
  }
}

/* resolution 320px or fewer */
