.photo-grid__item {
  max-width: 282px;
  margin: 0;
  background-color: #FFFFFF;
  border-radius: 10px;
}

/* ----- MEDIA QUERIES ----- */


/* anything larger than 880px, use defaults */

/* resolution more than 320px, fewer than 880px */

/* resolution more than 320px, fewer than 880px */
