.popup__submit {
  min-width: 358px;
  margin: calc(48px - 29.74px) 36px 36.51px;
  padding: 13.66px 0 18.49px;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 2px;
  /* typography */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(22 / 18);
}


/* ----- MEDIA QUERIES ----- */


/* anything larger than 880px, use defaults */

/* resolution more than 440px, fewer than 880px */

/* resolution more than 320px, fewer than 440px */
@media screen and (max-width: 440px) {
  .popup__submit {
    min-width: 238px;
    margin: calc(46px - 30px) 22px 25px;
    padding: 14px 0;
    /* typography */
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}

/* resolution fewer than 320px */
