.popup__close {
  padding: 0;
  width: calc(40px * 1.1414213562373095); /* right 45-45-90 triangle hypotenuse */
  height: calc(40px * 1.1414213562373095); /* right 45-45-90 triangle hypotenuse */
  /* use absolute position instead of float */
  position: absolute;
  top: calc(-1 * 40px * 1.1414213562373095);
  right: calc(-1 * 40px * 1.1414213562373095);
  cursor: pointer;
  /* background image */
  background-image: url('../../../images/close_icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  background-color: transparent;
  border: 0;
  /* hover animation */
  opacity: 1;
  transition: opacity 1s ease-out;
}

.popup__close:hover {
  opacity: 0.6;
}

/* ----- MEDIA QUERIES ----- */


/* anything larger than 880px, use defaults */

/* resolution more than 550px, fewer than 880px */

/* resolution more than 320px, fewer than 550px */
@media screen and (max-width: 550px) {
  .popup__close {
    width: calc(26px * 1.1414213562373095); /* right 45-45-90 triangle hypotenuse */
    height: calc(26px * 1.1414213562373095); /* right 45-45-90 triangle hypotenuse */
    top: calc((-1* 26px * 1.1414213562373095) - 13.62px);
    right: 0;
  }
}

/* resolution fewer than 320px */
