.popup__close {
  padding: 0;
  width: 40px;
  height: 40px;
  float: right;
  margin: -40px;
  cursor: pointer;
  /* background image */
  background-image: url('../../../images/close_icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  background-color: #000000;
  border: 0;
}


/* ----- MEDIA QUERIES ----- */


/* anything larger than 880px, use defaults */

/* resolution more than 550px, fewer than 880px */

/* resolution more than 320px, fewer than 550px */
@media screen and (max-width: 550px) {
  .popup__close {
    margin: -40px 0;
  }
}

/* resolution fewer than 320px */
