.profile__avatar-group {
  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

/* ----- MEDIA QUERIES ----- */


/* anything larger than 880px, use defaults */

/* resolution more than 320px, fewer than 880px */
@media screen and (max-width: 880px) {
  .profile__avatar-group {
    flex-direction: column;
    justify-content: center;
  }
}

/* resolution less than 320px */
