.photo-grid__like {
  width: 21px;
  height: 19px;
  margin: 0;
  padding: 0;
  /* background image */
  background-image: url('../../../images/like.svg');
  /* hover animation */
  opacity: 1;
  transition: opacity 1s ease-out;
}

.photo-grid__like:hover {
  opacity: 0.6;
}


/* ----- MEDIA QUERIES ----- */


/* anything larger than 880px, use defaults */

/* resolution more than 320px, fewer than 880px */

/* resolution more than 320px, fewer than 880px */
