.profile__avatar {
  width: calc(127.5px - 3.75px - 3.75px); /* 127.5px is size of image, but 3.75px of whitespace exists between top of block and top of image. Assume same on bottom. */
  height: auto; /* height is to size an image, not text */
  border-radius: 50%;
  object-fit: contain;
  margin: 0 calc((168.75px - 127.5px)/2) 0 0;
}

/* ----- MEDIA QUERIES ----- */


/* anything larger than 880px, use defaults */

/* resolution more than 320px, fewer than 880px */


/* resolution more than 320px, fewer than 880px */
@media screen and (max-width: 440px) {
  .profile__avatar {
    margin: 0;
    align-self: center;
  }
}
