.profile__name-edit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


/* ----- MEDIA QUERIES ----- */


/* anything larger than 880px, use defaults */

/* resolution more than 768px, fewer than 880px */

/* resolution more than 320px, fewer than 880px */
@media screen and (max-width: 880px) {
  .profile__name-edit {
    margin: 0 auto;
  }
}

@media screen and (max-width: 660px) {
  .profile__name-edit {
    padding: 26.25px 0 14px;

  }
}

/* resolution less than 320px */
@media screen and (max-width: 440px) {
  .profile__name-edit {
    margin: 0 calc(48px - 19px); /* if profile__name-edit block should be centered */
    /* margin: 0 0 0 calc((320px - 196px)/2 - 19px); /* if profile__info-name block should be centered */
  }
}
