.photo-grid__label {
  margin: 25px 15px 31px 21px;
  /* flexbox */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* ----- MEDIA QUERIES ----- */


/* anything larger than 880px, use defaults */

/* resolution more than 320px, fewer than 880px */

/* resolution more than 320px, fewer than 880px */
