.profile__info-edit {
  width: 24px;
  height: 24px; /* height is to size an image, not text */
  background-color: transparent;
  background-image: url('../../../images/edit.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  cursor: pointer;
  /* hover animation */
  opacity: 1;
  transition: opacity 1s ease-out;
  /* box styling */
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}

.profile__info-edit:hover {
  opacity: 0.6; /* not specified. Assumed from context */
}

/* ----- MEDIA QUERIES ----- */


/* anything larger than 880px, use defaults */

/* resolution more than 660px, fewer than 880px */
@media screen and (max-width: 660px) {
  .profile__info-edit {
    margin: 0 0 0 10px;
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}

/* resolution less than 320px */
