.profile__info-edit {
  width: 24px;
  height: 24px; /* height is to size an image, not text */
  background-color: #000000;
  background-image: url('../../../images/edit.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;

  /* box styling */
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
}

/* ----- MEDIA QUERIES ----- */


/* anything larger than 880px, use defaults */

/* resolution more than 320px, fewer than 880px */
@media screen and (max-width: 880px) {
  .profile__info-edit {
    margin: 16px;
  }
}

/* resolution less than 320px */
@media screen and (max-width: 320px) {
  .profile__info-edit {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}
