.profile__info-description {
  margin: 16px 0 0 0;
  padding: 0;
  /* text overflow */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
  /* typography */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(22 / 18);
}

/* ----- MEDIA QUERIES ----- */


/* anything larger than 880px, use defaults */

/* resolution more than 6600px, fewer than 880px */
@media screen and (max-width: 660px) {
  .profile__info-description {
    /* text overflow */
    max-width: 282px;
    /* typography */
    font-size: 14px;
    line-height: calc(17 / 14);
    margin: 0;
  }
}

/* resolution more than 440px, fewer than 880px */
@media screen and (max-width: 440px) {
  .profile__info-description {
    text-align: center;
    align-self: center;
    margin: 0;
  }
}
